*
!*/
!.gitignore
!hypr/**
hypr/hyprpaper.conf
!waybar/**
custom-waybar/
waybar.old/
!mako/**
!wofi/**
!rofi/**
!kitty/**
!nvim/**
nvim.bak/
!quickshell/**
tags
test.sh
.luarc.json
spell/
lazy-lock.json
